.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 2px solid #5a5a5a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
  background-color: #1a2942;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.logo img {
  width: 70px;
  object-fit: contain;
}

/* Navigation Links (Desktop) */
.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
  transition: all 0.3s ease-in-out;
  margin: auto 50px;
}

.nav-links a {
  color: #eaf3ff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.nav-links a:hover {
  color: #01ecec;
  text-decoration: underline;
}

/* Hamburger Button */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Animate hamburger to 'X' when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Responsive */
@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: #1a2942;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    border-top: 1px solid #ddd;
    display: none;
    margin: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    font-size: 20px;
    width: 100%;
  }
}